* {
    border: none;
    border-radius: 0;
    font-family: "JetBrains Mono";
    font-size: 12px;
    /*font-weight: bold;*/
    min-height: 0;
    /* test: ""; */
}

/*black = "#282c34";*/
/*white = "#bcbfc4";*/
/*red = "#e06c75";*/
/*green = "#98c379";*/
/*yellow = "#e5c07b";*/
/*blue = "#61afe7";*/
/*magenta = "#c688cd";*/
/*cyan = "#56b6c2";*/

window#waybar {
    background: rgba(40, 40, 40, 0.7);
    border: 0px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: #ebdbb2;
    border-bottom: 3px solid transparent;
    font-weight: bold;
}

#workspaces button.active {
    background: #4c566a;
    border-bottom: 2px solid #ebdbb2;
}

#workspaces button.urgent {
    background-color: #bf616a;
}

#clock, #idle_inhibitor, #battery, #cpu, #memory, #temperature, #backlight, #network, #pulseaudio {
    padding: 0 10px;
    margin: 0 2px;
    background: transparent;
    color: #ebdbb2;
}

#custom-logo {
    background: transparent;
    color: #ebdbb2;
    font-size: 20px;
    font-weight: bold;
}

#cpu {
    border-bottom: 2px solid #e06c75;
}

#memory {
    border-bottom: 2px solid #ee9360;
}

#backlight {
    border-bottom: 2px solid #fadb2f;
}

#idle_inhibitor {
    border-bottom: 2px solid #e5c07b;
}

#network {
    border-bottom: 2px solid #98c379;
}

#network.disconnected {
    color: #fb4934;
    border-bottom: 2px solid #98c379;
}

#pulseaudio {
    border-bottom: 2px solid #61afe7;
}

#pulseaudio.muted {
    border-bottom: 2px solid #61afe7;
    color: #fb4934;
}

#clock {
    color: #ebdbb2;
    font-weight: bold;
}

#battery {
    border-bottom: 2px solid #d3869b;
}

#battery.charging {
    color: #b8bb26;
    border-bottom: 2px solid #d3869b;
}
