* {
    border: none;
    border-radius: 0;
    font-family: "Iosevka Nerd Font";
    font-size: 10px;
    /*font-weight: bold;*/
    min-height: 0;
    /* test: ""; */
}

window#waybar {
    background: rgba(40, 40, 40, 0.5);
    border: 0px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: #ebebb2;
    border-bottom: 3px solid transparent;
}

#workspaces button.active {
    background: #4c566a;
    border-bottom: 2px solid #ebebb2;
}

#workspaces button.urgent {
    background-color: #bf616a;
}

#clock, #battery, #cpu, #memory, #temperature, #backlight, #network, #pulseaudio, #custom-media, #mode, #idle_inhibitor {
    padding: 0 10px;
    margin: 0 2px;
    background: transparent;
    color: #ebebb2;
}

#clock {
    background-color: #64727D;
    color: #e5e9f0;
}

#battery {
    /*background-color: #000000;*/
    color: #e5e9f0;
}

#battery.charging {
    /*background-color: #000000;*/
    color: #e5e9f0;
}

/*
#battery.critical:not(.charging) {
    background: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
*/

#cpu {
    border-bottom: 1px solid #cc241d;
}

#memory {
    border-bottom: 1px solid #fe8019;
}

#backlight {
    border-bottom: 1px solid #fadb2f;
}

#network {
    border-bottom: 1px solid #b8bb26;
}

#network.disconnected {
    background: #f53c3c;
    color: #e5e9f0;
}

#pulseaudio {
    background: #000000;
    color: #e5e9f0;
}

#pulseaudio.muted {
    background: #000000;
    color: #e5e9f0;
}

